* {
	box-sizing: border-box;
}
body {
	background-color: #8FBC8F;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	margin: 0;
}
.counter {
	font-size: 60px;
	margin-top: 30px;
}
span{
	fo//////
.........
............
///////////////
//////////
//////////////
///////////nt-size: 24px;
}
function showMessage(element, msg, color) {
  element.style.visibility = "visible";
  element.textContent = msg;
  element.style.color = color;
  element.previousElementSibling.style.border = `2px solid ${color}`;
}
//////////////////////////////////////////////////////
//////////////////////////////////////////
////////////////////////
///////////////////////////////////////////////////////
//////////////////////////////////
/////////////////////////////
/////////////////////////////////
////////////////////////////////
/////////////////
////////////////
//////////////
/////////////////
/////////////////////
////////////////
////////////////
////////////////////
///////////////
////////////////////////////
////////////////////////////
///////////////
///////////
///////////////////////////
//////////////
////////////////////
/////////////////////
////////////////////////
///////////////////////////////
/////////////////////////
////////////////
////////////////////
///////////////////////
/////////////
///////////////
/
//////////////////
//////////////////
/////////////////////
/////////////////////
//////////////////
//////////////////
////////////////////
////////////////
///////////////////
/////////////////
/////////////////////////////////////////////////////////////////
