* {
	box-sizing: border-box;
}
body {
	background-color: #8FBC8F;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	margin: 0;
}
.counter {
	font-size: 60px;
	margin-top: 30px;
}
span{
	font-size: 24px;
}